<div class=" row home1 text-center offset" id="home">
    <div class="col-sm-12">
        Welcome to CNET news scrapper
    </div>
    <a href="/articles" class="btn btn-outline-light btn-lg rounded-pill mx-auto">Get Started</a>
</div>