@import url("https://fonts.googleapis.com/css?family=Barriecito|Josefin+Sans|Lexend+Giga|Luckiest+Guy|Quicksand|Saira+Stencil+One&display=swap");

body {
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  color: #505962;
  background-image: url("../image/nycityBKG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center;   */
}

.offset::before {
  display: block !important;
  content: "" !important;
  height: 7.6rem !important;
  margin-top: -5.55rem !important;
}

.home1 {
  background-color: rgba(0, 0, 0, 0.685);
  width: 100%;
  max-height: 92.3%;
  position: absolute;
  /* top: 28%; */
  overflow: hidden;
  /* z-index: 1; */
  color: #97caef;
  text-transform: uppercase;
  display: block;
  height: 100%;
}
/* navbar styling */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color : #97caef !important;
}



/* END navbar styling */

/* home.hanldlebars styling */

.btn-lg {
  color: #97caef;
  font-weight: bold;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  position: absolute;
  top: 60%;
  left: 44%;
  z-index: 1;
}

/* END home.hanldlebars styling */
